@using ModelDomain
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using System.IO;
@using System.Text.Json;

<EditForm Model="@document" OnValidSubmit="@HandleValidSubmit" class="inForm">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    <div class="col-10">
        <label for="inputAddress" class="form-label">Title</label>
        <input @bind="document.Title" type="text" class="form-control" id="inputAddress" placeholder="Название Документа" />
    </div>

    <div class="col-10 py-2">
        <label for="inputAddress2" class="form-label">Content</label>
        <input @bind="document.Content" type="text" class="form-control" id="inputAddress2" placeholder="Краткое описание" />
    </div>

    <div class="col-10 py-2 px-0 py-0">
        <label for="inputAddress3" class="form-label col-12">Description</label>
        <div class="col-12 input-group">
            <textarea @bind="document.Description" type="text" class="form-control" aria-label="Подробное описание" placeholder="Подробное описание"></textarea>
        </div>
    </div>

    <div class="col-md-5 py-2">
        <label for="inputCity" class="form-label">CreationTime</label>
        <input @bind="document.CreationTime" type="datetime" disabled="disabled" class="form-control" id="inputCity" />
    </div>

    <div class="col-md-5 py-2">
        <label for="inputZip" class="form-label">LastUpdate</label>
        <input @bind="document.LastUpdate" type="datetime" disabled="disabled" class="form-control" id="inputZip" />
    </div>

    <div class="col-3 subButtom">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</EditForm>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Employee edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @ErrorMessage
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{
    [Parameter]
    public string IdDocument { get; set; }
    [Parameter]
    public string BaseURI { get; set; }


    public string ErrorMessage { get; set; }
    public Modal modalRef { get; set; }
    private Document document = new();

    protected override async Task OnInitializedAsync()
    {
        await GetDocumentAsync();


    }

    private async Task GetDocumentAsync()
    {
        string uri = string.Concat(BaseURI, IdDocument);
        try
        {
            var response = await Http.GetAsync(uri);
            var payload = await response.GetPayload();
            if (response.IsSuccessStatusCode)
            {
                document = JsonSerializer.Deserialize<Document>(payload);
            }
            else
            {
                var errorResponse = JsonSerializer.Deserialize<ErrorResponse>(payload);
                throw new Exception(errorResponse.ErrorMessage);
            }

        }
        catch (Exception ex)
        {
            await ShowModal(ex.Message);
        }
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }

    private Task ShowModal(string message)
    {
        ErrorMessage = message;
        return modalRef.Show();
    }


    private async Task HandleValidSubmit()
    {
        string uri = string.Concat(BaseURI, IdDocument);
        try
        {
            document.LastUpdate = DateTime.Now;
            var response = await Http.PutAsJsonAsync(uri, document);
            if (response.IsSuccessStatusCode)
            {
                await GetDocumentAsync();
            }
            else
            {
                throw new Exception("500 - Internal Server Error");
            }
        }
        catch (Exception ex)
        {
            await ShowModal(ex.Message);
        }
    }
}
