@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@page "/"


<div class="main">
    <DocumantKepper IdDocument="@IdDocument" DocumentManagerApi="@DocumentManagerApi" FileManagerApi="@FileManagerApi" PictureManagerApi="@PictureManagerApi" VideoManagerApi="" />
</div>


@code{

    public string IdDocument { get; set; } = "da5eb3bb-a21b-48ac-1142-08db11f8354f";
    public string DocumentManagerApi { get; set; } = "https://localhost:5001/api";
    public string FileManagerApi { get; set; } = "https://localhost:5001/api";
    public string PictureManagerApi { get; set; } = "https://localhost:5003/api";
}