@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@page "/"


<div class="main">
    <DocumantKepper IdDocument="@IdDocument" BaseUri="@BaseUri" />
</div>


@code{

    public string IdDocument { get; set; } = "4b2aec78-7156-4fe1-f298-08db0d3e9f00";
    public string BaseUri { get; set; } = "https://localhost:5001/api/Documents/";
}