<div class="main">
   <aside class="conteinerMenu">
        <div class="brandTab">
            <a class="barLink">
                <img style="width:32px; height: 32px" src="Icons\blazorise-small.png">
                    MicroCMS
            </a>
        </div>
        @foreach (TabPage tabPage in Pages)
        {
            <button class="@GetButtonClass(tabPage) buttonClass"
                    @onclick=@( () => ActivatePage(tabPage) )>
                <Icon class="barLink" Name="@IconMade(tabPage.Text)" />
                @tabPage.Text
            </button>
        }
    </aside>
    <main class="conteinerPage">
        <header class="header">
            
        </header>
        <div class="m-11" />
        <div class="childPage">
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </div>
    </main>
</div>

    @code {
        [Parameter]
        public RenderFragment ChildContent { get; set; }
    }
