<div class="brandTab">
    <div class="barItem">
        <a class="barLink">
            <div class="barIcon">
                <img style="width:32px; height: 32px" src="https://blazorise.com/img/logos/blazorise-small.png">
            </div>
            MicroCMS
        </a>
    </div>
</div>
    
@code {

}
